body{
    font-family: "Times New Roman";
    background-color: #FF0000;
}
h1{
    text-align: center;
    background-color: #FF0000;
    color: white;
    font-family: "Open Sans Condesed", sans-serif;
}
h2{
    font-family: "Open Sans Condesed", sans-serif;

}
p{
    text-align: justify;
    font-family: "Crinsom Text";
}
#entertainment {background-color: rgba(209,55,45,0.6)}
#technology { background-color: rgba(0,99,214,0.5);}

